.features-block {
	font-family: 'Roboto', sans-serif;
	margin: 30px;
}
.features-block h2 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 12px;
	text-transform: capitalize;
}
.features-blockk ul {
	padding: 0;
	margin: 0;
}
.features-block span {
	padding-right: 6px;
}
.features-block li {
	padding-bottom: 14px;
	line-height: 1.2;
	list-style: none;
	font-size: 14px;
	color: #949494;
	font-weight: 300;
	text-transform: capitalize;
}