.slider-overload{
	margin-bottom: 20px;
}
.slider-container-large{
	width: 100%;
	max-width: 721px;
	margin: 0 auto;
}
.slick-dots{
	bottom: 20px;
	right: 41px;
	width: auto;
}
.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.title-slider-info{
	color: #333333;
	font-size: 24px;
	font-weight: 400;
	margin: 23px 0 0 0;
}
.slider-info p{
	color: #a3a3a3;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	margin-top: 10px;
}