/*****Our Staff blok****/
.ourStaff {
	margin: 6%;
}
.team-blok {
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}
.team-blok img {
	width: 100%;
}
.team-blok:hover .ourStaff-hover {
	opacity: 1;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.ourStaff-hover {
	background: rgba(26, 181, 179,0.9);
	opacity: 0;
	-webkit-transform: scale(0) rotate(-180deg);
	-moz-transform: scale(0) rotate(-180deg);
	-o-transform: scale(0) rotate(-180deg);
	-ms-transform: scale(0) rotate(-180deg);
	transform: scale(0) rotate(-180deg);
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	transition: all 0.4s ease-in;
	text-align: center;
	overflow: hidden;
	transform-origin: center center;
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}
.ourStaff h2 {
	font-size: 24px;
	color: ;
	text-transform: capitalize;
	color: #333333;
	font-weight: 300;
}
.ourStaff-hover h3 {
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 35%;
	color: #fff;
	margin: 0;
}
.ourStaff-hover p {
	font-size: 13px;
	text-transform: capitalize;
	text-align: center;
	color: #fff;
	font-weight: 100;
	margin: 0;
}