html, body, div, span, object, iframe, img, strong, b, u, i,table,tbody, tfoot, thead,td,th,tr
form, label, legend,header,footer,article,section,aside{margin:0; padding:0; border:0; vertical-align:baseline; background:transparent;}
input:focus, select:focus, textarea:focus {outline:none}
table,td,th,tr {border-collapse:collapse; border-spacing:0;}
html, body{width:100%; height:100%;}
input, select, textarea,button {font-family: 'Open Sans', arial, sans-serif; font-weight:400; box-sizing: border-box; color: #000;}
button,input[type="button"]{cursor: pointer}

.clear{clear:both; font-size:0;}
.clearfix::after{clear: both; content: "";	display: table;}
a,
a:focus,
a:hover{
    text-decoration: none;
    text-underline: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}