
.side-menu{
	font-family: 'Roboto', sans-serif;
	max-width: 300px;
	width: 100%;
	background: #242b2e;
	text-align: right;
	padding-bottom: 270px;
	-webkit-box-shadow: 20px 0px 15px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    20px 0px 15px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         20px 0px 15px 0px rgba(0, 0, 0, 0.3);
	font-weight: 300;
/*	position: fixed;
z-index: 10;*/
}
.menu-header{
	background: #fff;
}
.menu-header .logo img{
	display: block;
	max-width: 186px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 20px 0;
}
.nav-item{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	box-sizing: border-box;
	padding: 20px 25px;
	border-bottom: 1px solid #293034;
	background: rgb(51,59,63);
	background: -moz-linear-gradient(top,  rgba(51,59,63,1) 0%, rgba(48,56,60,1) 50%, rgba(46,54,58,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(51,59,63,1) 0%,rgba(48,56,60,1) 50%,rgba(46,54,58,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,59,63,1) 0%,rgba(48,56,60,1) 50%,rgba(46,54,58,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333b3f', endColorstr='#2e363a',GradientType=0 );
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus{
	background: #22adab;
}
.filters{
	padding: 0 25px 23px 0;
	border-bottom: 1px solid #293034;
    margin-top: 19px;
}
.filters-title{
	color: #1ab5b3;
	font-weight: 300;
	margin: 0;
	font-size: 19px;
	line-height: 32px;
	background: url(../../../images/filters-icon.png) no-repeat center right;
	box-sizing: border-box;
	padding-right: 30px;
	text-align: right;

}
.filters a{
	display: block;
	text-decoration: none;
	text-transform: capitalize;
	color: #6b7072;
	font-size: 13px;
	line-height: 25px;
	box-sizing: border-box;
}
a:hover,
a:active,
a:focus{
	color: #fff;
}
.social{
    margin: 25px 21px 0 21px
}
.сopyrighted{
	margin-right: 25px;
	color: #6b7072;
	font-size: 12px;
	line-height: 25px;
	padding: 0 0 10px 0;
}